In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

import requests #for getting url request
from bs4 import BeautifulSoup #need for parsing html
import re #need regular expressions

print('Libraries imported.')

Libraries imported.

In [2]:
#calling the webpage

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = requests.get(url)

#parsing using BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')

In [3]:
#using BeautifulSoup to find the table
tables = soup.find_all("table", {"class": 'wikitable sortable'})

In [4]:
#Code that iterates through the tables file to get 
#the items from the soup file in to lists to make the data frame.

PostalCode = []
Borough = []
Neighborhood = []

for table in tables:
    rows = table.find_all('tr')
    
    for row in rows:
        cells = row.find_all('td')
        
        
        if len(cells) > 2:
            postalcodes = cells[0]
            PostalCode.append(postalcodes.text.strip())
            
            boroughs = cells[1]
            Borough.append(boroughs.text.strip())
            
            neighborhoods = cells[2]
            Neighborhood.append(neighborhoods.text.strip())

In [5]:
#creating the data frame with the needed fields.

df = pd.DataFrame({'PostalCode':PostalCode,'Borough':Borough,'Neighborhood':Neighborhood})
df.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [6]:
#Remove PostalCode where Borough is Not assinged
df = df[~df['Borough'].isin(['Not assigned'])]

In [7]:
#Showing the number of rows. There are 103.

df.shape

(103, 3)

In [19]:
df2 = pd.read_csv("Geospatial_Coordinates.csv")
df2.rename(columns={'Postal Code':'PostalCode'},inplace=True)
df2.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [18]:
pd3 = pd.merge(df,df2,on=['PostalCode'])
pd3.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494